.about-us-page-div {
    margin: 60px 160px 30px 160px;
}

.about-us-description {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-us-heading {
    font-weight: bold;
    margin: 0px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1000px) {
    .about-us-page-div {
        margin: 20px;
    }

    .about-us-description {
        font-size: 16px;
    }

    .about-us-heading {
        font-size: 24px;
    }
}