.home-page-image:hover {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s ease;
    transform: scale(1.5);
}

.home-page-image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.home-page-image {
    display: block;
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}