.home-page-image:hover {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.5s ease;
    transform: scale(1.5);
}

.home-page-image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 33.33%;
}
.home-page-image {
    display: block;
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 1000px){
    .home-page-image-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 50%;
    }
    .home-page-image {
        display: block;
        height: 450px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 600px){
    .home-page-image-container {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 100%;
    }
    .home-page-image {
        display: block;
        height: 600px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}

