.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home-page-image:hover {
  filter: grayscale(100%);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.5s ease;
  transform: scale(1.5);
}

.home-page-image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.home-page-image {
  display: block;
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.QualityAssuranceFooterElement {
  flex: 0 0 100%;
}

@media (min-width: 758px) {
  .QualityAssuranceFooterItem {
    /* padding-top: 1%; */
    flex: 0 0 25%;
  }
}

@media (min-width: 768px) {
  .QualityAssuranceFooterClass .QualityAssuranceFooterSlider {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgba(81, 29, 0, .1);
  }
}

.collection-item-image {
  height: 500px;
}

@media (min-width: 760px) {
  .collection-item-image {
    height: 900px;
  }
}

/* mobile */
.collection-item-div1 {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 0;
}

/* laptop */
@media (min-width: 600px) {
  .collection-item-div1 {
    width: 60%;
    margin-bottom: 0;
    margin-right: 20px;
  }
}

/* mobile */
.collection-item-div2 {
  width: 100%;
}

/* laptop */
@media (min-width: 600px) {
  .collection-item-div2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 30px;
  }
}

/* mobile */
.about-us-page-div {
  /* Default margin */
  margin: 20px;
}

/* laptop */
@media (min-width: 761px) {
  .about-us-page-div {
      margin: 160px;
  }
}